body { 
  background-color:#fcfcfc;
}
.navbar-inner .container
{
  width: 680px;
  margin: 0 auto;
}
#content, #footer
{
  color: #000;
  margin: 40px auto;
  width: 680px;
}
#content 
{ 
  margin-top: 70px;
}
#footer {
  border-top: 1px solid #eee;
  padding-top: 30px;
}
#footer address
{ 
  font-style:italic;
}
p
{
  font-size:15.5px;
  line-height:1.6;
  margin:15px 0;
}

li
{
  font-size:15.5px;
  line-height:24px;
}

h1, h2, h3, h4, h5, h6
{
  margin: 20px 0;
}

img
{
  margin: 20px 0;
}

pre, blockquote
{
  margin: 20px 0;
}
blockquote p
{
  font-size:15.5px;
}

h1 { font-size:22px; }
h2 { font-size:20px; }
h3 { font-size:16.5px; }
h4 { font-size:15.5px; }