.navbar-inner .container
{
  width:800px;
  margin: 0 auto;
}
#content, #footer
{
  color: #111;
  margin: 40px auto;
  width:800px;
}
#content 
{ 
  margin-top: 70px;
}
#footer address
{ 
  font-style:italic;
}
p
{
  font-size:15px;
  line-height:24px;
  margin:10px 0;
}

ul, ol
{
  margin-top: 20px;
  margin-bottom: 20px;
}

li
{
  font-size:15px;
  line-height:22px;
}

h1, h2, h3, h4, h5, h6
{
  margin: 20px 0;
}

img
{
  margin: 20px 0;
}

pre, blockquote
{
  margin: 20px 0;
}
blockquote p
{
  font-size:14px;
}

h1 { font-size:26px; }
h2 { font-size:22px; }
h3 { font-size:18px; }
h4 { font-size:16px; }